name: Build and Deploy
on:
  push:
    branches:
      - main
jobs:
  build-deploy:
    name: Build and deploy pipeline for my instaclone app
    runs-on: macos-latest
    steps:
      - name: Checkout code
        uses:  actions/checkout@v4

      - name : Setup JDK 21
        uses: actions/setup-java@v3
        with:
          distribution: 'corretto'
          java-version: 21

      - name: Unit Tests
        run: mvn -B test  pom.xml
        working-directory: ./Backend

      - name: Build the application
        run: |
          mvn clean
          mvn -B package --file pom.xml